html{background-image:linear-gradient(white,rgba(0,114,174,255));scroll-behavior:smooth;margin:0;padding:0}
body{margin:0;font-family:Arial,sans-serif}
.image-container{position:relative;display:flex;justify-content:center;align-items:center;width:100%;height:1000px}
.image{position:absolute;width:75%;height:auto;object-fit:cover}
.image-left{left:0;width:50%;top:45px;transform:translateY(0);animation:Slideinfromtheback 2s ease-in-out forwards}
@keyframes Slideinfromtheback{
0%{left:-200%}
100%{left:0}
}
.image-right{right:6px;top:450px;width:30%;transform:translateY(0);animation:slideInFromRight 2s ease-in-out forwards}
@keyframes slideInFromRight{
0%{right:-200%}
100%{right:0}
}
@media screen and (max-width:780px){
.image-left,.image-right{display:none}
}
.overlay-text{position:absolute;z-index:2;color:rgba(232,242,244,255);top:45px;padding:10px 20px;font-size:140px;text-align:center}
@media (max-width:768px){
.image{width:100%}
.overlay-text{font-size:18px;padding:8px 16px}
}
.menuBg{background-color:#7928ca;flex-direction:column;justify-content:center;max-width:30rem}
.topmenu{display:block;padding:.5rem 3rem;color:#0070f3;text-decoration:wavy;width:80%;transition:all .5s ease}
.lableMenu{position:fixed;top:.5rem;right:.5rem;display:block;width:1.4rem;font-size:1.5rem;border:solid #fff;padding:.2rem .4rem}
#inputMenu:checked~.topmenu{right:3rem;transition:ease}
@media screen and (min-width:48rem){
.lableMenu{display:none}
.topmenu{position:relative;top:0;bottom:0;width:100%;flex-direction:column}
.topmenu a{border-bottom:0}
}
.fade{animation-name:fade;animation-duration:1.5s}
@keyframes fade{
from{opacity:.4}
to{opacity:1}
}
@media only screen and (max-width:300px){
.next,.prev,.text{font-size:11px}
}
#slideset1{width:39em;height:10em;overflow:hidden;position:relative;margin-left:5em;margin-top:20px;padding:.6rem;border:2px solid #333;background-color:#fff}
#slideset1>div{visibility:hidden;position:absolute;top:0;left:0;height:100%;width:100%;display:flex;align-items:center;justify-content:center;font-size:1.5em;color:#000;background-color:#fff;opacity:0;z-index:5}
#slideset1>div:nth-child(1){animation:autoplay1 12s infinite 0s}
#slideset1>div:nth-child(2){animation:autoplay1 12s infinite 4s}
#slideset1>div:nth-child(3){animation:autoplay1 12s infinite 8s}
@keyframes autoplay1{
0%,100%{visibility:visible;opacity:1;top:0}
33.33%{opacity:0;visibility:hidden;top:-100%}
66.66%{opacity:0;visibility:hidden;top:-100%}
100%{opacity:1;visibility:visible;top:0}
}
.navbar{position:fixed;top:0;left:0;width:100%;color:#fff;display:flex;justify-content:right;padding:1em;background-color:#fff}
.menu{display:flex;gap:1em;list-style:none;padding:0;margin:0}
.menu li a{color:#fff;text-decoration:none}
.menu-icon{display:none}
@media (max-width:48em){
.navbar{background-color:transparent;padding:1em}
.menu{display:none;flex-direction:column;background-color:purple;position:absolute;top:3em;width:100%}
.menu-toggle-checkbox{display:none}
.menu-icon{display:block;background:0 0;border:none;font-size:1.5em;color:#fff;cursor:pointer;text-align:center;width:100%;padding:1em}
.menu-toggle-checkbox:checked+.menu-icon+.menu{display:flex}
.menu li{text-align:center;padding:1em 0}
}
@font-face{font-family:icomoon;src:url(fonts/icomoon.eot?8m9wf3);src:url(fonts/icomoon.eot?8m9wf3#iefix) format('embedded-opentype'),url(fonts/icomoon.ttf?8m9wf3) format('truetype'),url(fonts/icomoon.woff?8m9wf3) format('woff'),url(fonts/icomoon.svg?8m9wf3#icomoon) format('svg');font-weight:400;font-style:normal;font-display:block}
[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-HB:before{content:"\e900"}
.icon-home:before{content:"\e901"}
.icon-google:before{content:"\ea88"}
.icon-facebook2:before{content:"\ea91"}
.icon-instagram:before{content:"\ea92"}
.icon-spotify:before{content:"\ea94"}
.icon-twitter:before{content:"\ea96"}
.icon-youtube:before{content:"\ea9d"}
.icon-steam:before{content:"\eaac"}
.icon-steam2:before{content:"\eaad"}
.icon-github:before{content:"\eab0"}
.icon-windows8:before{content:"\eac2"}
.icon-pinterest2:before{content:"\ead2"}
.rammi div:last-child{margin-bottom:10px}
footer,main{margin:.5rem}
.col-1,.col-2,.col-3,.col-4,.col-6{display:grid;grid-template-columns:1fr;row-gap:1rem;max-width:auto}
@media screen and (min-width:50rem){
.col-1{grid-template-columns:1fr;gap:1rem}
.col-2{grid-template-columns:repeat(2,1fr);gap:1rem}
.col-3{grid-template-columns:repeat(3,1fr);gap:1rem}
.col-4{grid-template-columns:repeat(4,1fr);gap:1rem}
.col-6{grid-template-columns:repeat(6,1fr);gap:1rem}
}
.bannerBg{width:auto;position:relative}
.animated-table{position:relative;opacity:0;transform:translateY(100%);animation:slideUp 1.5s ease-in-out forwards}
@keyframes slideUp{
0%{opacity:0;transform:translateY(100%)}
100%{opacity:1;transform:translateY(0)}
}
table{background-color:rgba(0,114,174,255);border-collapse:collapse;width:100%}
.center,.value{text-align:auto}
.value h1{border-radius:250%;margin:1rem auto;padding:2.5rem 1rem;width:5rem;background-color:var(--nc-lk-2)}
.overlay{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.7);transition:opacity .5s;visibility:hidden;opacity:0}
.overlay:target{visibility:visible;opacity:1}
.popup{margin:70px auto;padding:20px;background:#fff;border-radius:5px;width:30%;position:relative;transition:all 5s ease-in-out;z-index:20;color:#000}
.popup h2{margin-top:0;color:#333;font-family:Tahoma,Arial,sans-serif}
.popup .close{position:absolute;top:20px;right:30px;transition:all .2s;font-size:30px;font-weight:700;text-decoration:none;color:#333}
.popup .close:hover{color:#06d85f}
.popup .content{max-height:30%;overflow:auto}
*{box-sizing:border-box}
body{font-family:Arial,sans-serif;margin:0;padding:0}
.logo{top:0;left:0}
.logo-img{position:absolute;top:0;left:5px;width:100px;height:100px}
.headmenu{width:100%;padding:0 1em}
.headwrapper{position:fixed;top:0;left:0;height:5.5em;width:102%;background-color:#47f4ff;border:0;box-shadow:0 0 1em #2f2183;z-index:3}
.dropedownicon{position:fixed;top:0;right:0;width:2.5em;height:1.6em}
.bar1,.bar2,.bar3{width:35px;height:5px;background-color:#2f2183;margin:6px 0;transition:.4s}
.sel-web{display:block;position:fixed;top:2em;right:-15em;z-index:4;padding:0;margin:0;list-style:none;transition:all .5s ease;background-color:#47f4ff;padding:1em;text-align:left;font-size:25px}
button{border:none}
.change .bar1{transform:translate(0,11px) rotate(-45deg)}
.change .bar2{opacity:0}
.change .bar3{transform:translate(0,-11px) rotate(45deg)}
.sel-button{height:25px;background-color:#fbb13c;color:#2f2183}
.sel-button:hover{background-color:rgba(230,176,60,.6)}
footer{padding:1em;text-align:left;background-color:#47f4ff}
.button{font-size:1em;padding:10px;color:#fff;border:2px solid #06d85f;border-radius:20px/50px;text-decoration:none;cursor:pointer;transition:all .3s ease-out}
.button:hover{background:#06d85f}
dt{font-weight:700}
dd::before{content:'→ '}

:root {
	--nc-tx-1: #000000;	/* H1-H6 */
	--nc-tx-2: #1A1A1A;	/* Body text */
	--nc-lk-1: #0070F3;	/* A tengill (link) */
	--nc-lk-2: #0366D6;	/* A tengill (hover) */
	--nc-lk-tx: #FFFFFF;	/* Button + input type */
	--nc-ac-1: #79FFE1;	/* Bakgrunnur selection + mark */
	--nc-ac-tx: #0C4047;	/* Selection + mark*/
}
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--nc-lk-1);
	color: var(--nc-lk-tx);
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: var(--nc-lk-tx);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;

	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: var(--nc-lk-2);
}

a img {
	margin-bottom: 0px;
}

code,
pre,
kbd,
samp {
	/* Set the font family for monospaced elements */
	font-family: var(--nc-font-mono);
}

code,
samp,
kbd,
pre {
	/* The main preformatted style. This is changed slightly across different cases. */
	background: var(--nc-bg-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	padding: 3px 6px;
	/* ↓ font-size is relative to containing element, so it scales for titles*/
	font-size: 0.9em;
}

kbd {
	/* Makes the kbd element look like a keyboard key */
	border-bottom: 3px solid var(--nc-bg-3);
}

pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
}

pre code {
	/* When <code> is in a <pre>, reset it's formatting to blend in */
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

code pre {
	/* When <pre> is in a <code>, reset it's formatting to blend in */
	display: inline;
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

details {
	/* Make the <details> look more "clickable" */
	padding: .6rem 1rem;
	background: var(--nc-bg-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}

summary {
	/* Makes the <summary> look more like a "clickable" link with the pointer cursor */
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	/* Adjust the <details> padding while open */
	padding-bottom: .75rem;
}

details[open] summary {
	/* Adjust the <details> padding while open */
	margin-bottom: 6px;
}

details[open]>*:last-child {
	/* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd::before {
	/* Add an arrow to data table definitions */
	content: '→ ';
}

hr {
	/* Reset the border of the <hr> separator, then set a better line */
	border: 0;
	border-bottom: 1px solid var(--nc-bg-3);
	margin: 1rem auto;
}

fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}

legend {
	padding: auto .5rem;
}


td,
th {
	border: 1px solid var(--nc-bg-3);
	text-align: left;
	padding: .5rem;
}

th {
	background: var(--nc-bg-2);
}

tr:nth-child(even) {
	/* Set every other cell slightly darker. Improves readability. */
	background: var(--nc-bg-2);
}

table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}

textarea {
	/* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
	max-width: 100%;
}

